<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">


    <link rel="stylesheet" href="/css/3d-models.css">

    <title>My 3d Models</title>
</head>
<body>
    <div class="top-bar">
        <div class="back">
            <a href="/"><img class="back-icon" src="images/home-grey.svg"></a>
        </div>

        <div class="header-text">
            <h1>My 3d Models</h1>
        </div>
        
        <div class="socials">
            <a href="https://github.com/kaylawilson535"><img class="social" src="images/github-grey.svg"></a>
            <a href="https://www.linkedin.com/in/kayla-wilson-gimm/"><img class="social" src="images/linkedin-grey.svg"></a>
            <a href="mailto:KaylaWilson535@gmail.com"><img class="social" src="images/email-grey.svg"></a>
        </div>
    </div>

    <header>
        

    </header>

    
    <section class="summary">
        
            <div class="summary-wrapper">
                <div class = "h2-holder">
                    <h2>Summary</h2>
                </div>
                
                <p>
                    Throughout all of the projects I did in college, for work, or on the side, there was often an element of the project that used a tool or language that I had not yet worked with. Since these projects often required that one element be done in a specific way, I was always motivated to learn the necessary tool or language in order to not compromise on the end goal. The most common occurrence of needing to learn something new and quick for a project was with 3d modelling. <br><br>3d modelling is a vast landscape of knowledge, experience, and nifty tricks. Whenever it was required of me, I could dive into a new modelling software without having previously done a similar asset and could still manage to get that asset completed within its objectives and constraints. Of course, these projects only scraped the basics of 3d modelling itself but my determined acquirement of these skills as well as my enthusiasm and patience for learning is something I hope to take with me in every project I work on.
                </p>
            </div>
        
        <div class="images-wrapper">
            <img src="images/model-1.png">
            <img src="images/model-2.png">
            <img src="images/model-3.png">
            <img src="images/model-4.png">
        </div>
        
        
        
    </section>

    
    <section class="obstacles">
        <div class = "h2-holder">
            <h2>Obstacles</h2>
        </div>
        <div class="obstacles-content">

            <div class="info-wrapper">
                <div class="info-text">
                    <h3>Time Management</h3>
                    <p>
                        Something that I found happening often with 3d modeling is that there was a trade-off between time spent and the noticeable results of that time spent. It fell well in line with the 80/20 rule. The first 10 hours of modeling showed massive progress. The next 10, slightly less, and so on until the project reached a point that I needed to make the decision to stop in order to focus on other aspects of work.
                    </p>
                </div>
            </div>
            
    
            <div class="info-wrapper">
                <div class="info-text">
                    <h3>Frustrations</h3>
                    <p>
                        A key part of 3d modeling is getting frustrated. While this can be said about many industries, there is something about staring at an inverted polygon for hours without knowing the solution that can drive you crazy. I found I was able to get past these frustrations by first having a lot of patience, but also having the ability to take a mental reset and return to it 10 minutes later with fresh eyes.
                    </p>
                </div>
            </div>
    
            <div class="info-wrapper">
                <div class="info-text">
                    <h3>File Transfers</h3>
                    <p>
                        Another key aspect of 3d modeling was the amount of time spent trying to get assets imported from one engine to another. Issues such as naming conventions, file types, or engine differences could greatly impede progress if not organized or understood correctly. To get past this, I found myself taking notes on anything that was done correctly during file transfer. This way I was able to repeat the process when it inevitably reoccurred.
                    </p>
                </div>
            </div>
        </div>
        

    </section>

    
    <section class="tech-stack">
        <div class = "h2-holder">
            <h2>Tech Stack</h2>
        </div>
        <div class="tech-stack-wrapper">
            <div class="inner-stack">
                <div class="stack">
                    <h3>
                        Blender
                    </h3>
                    <p>
                        Blender was used mainly for side projects. Since it is open-source and widely available, it kept me from being worried about limitations during collaboration. While I used it for modeling and rigging, I rarely animated in Blender and would instead choose to export to Unity first to animate there.

                    </p>
                </div>
                <div class="stack">
                    <h3>
                        Maya
                    </h3>
                    <p>
                        Maya was used for all of my school projects, some work projects, and a few side projects. I would often model, UV unwrap, rig, and animate my object inside of Maya before exporting the .fbx to Substance.
    
                    </p>
                </div>
            </div>
            <div class="inner-stack right-stack">
                <div class="stack">
                    <h3>
                        Substance Painter
                    </h3>
                    <p>
                        Substance Painter was the primary tool that I used for texturing. When I was able to UV unwrap the object properly and use good naming conventions on different materials, it streamlined the texturing process to a mere drag and drop.

    
                    </p>
                </div>
                <div class="stack">
                    <h3>
                        Photoshop
                    </h3>
                    <p>
                        In one of the first models I made in End of Exile, I used photoshop to create a 2d image on the 2d unwrapped map. While I did achieve decent results, I knew there were better tools out there and later chose to switch to Substance but appreciated the understanding I gained of how texturing works.
                    </p>
                </div>
            </div>
            
            
        </div>
        
    </section>

    <div class='stack-icon-holder'>
        <img class="stack-icon" src="images/techstack-grey.svg">
    </div>

    <footer>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    
</body>
</html>