<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">

    <script src="https://kit.fontawesome.com/2789e9495d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/construction.css">

    <title>End Of Exile</title>

</head>
<body>   
    
    <div class="content-wrapper">
        <h1>
            <img class="construction" src="images/barrier.svg"> 
            <img class="construction" src="images/barrier.svg"> <img class="construction" src="images/barrier.svg"> <img class="construction" src="images/barrier.svg"> 
        </h1>
        <h2> This page is undergoing some changes. You can still check out a video preview of the VR game: </h2>
        
    </div>
        
    <div class="yt-wrapper">
        <iframe id="iframe" src="https://www.youtube.com/embed/mvpw5Lsjy2U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="content-wrapper">
        <h2> or take a look at the <a href="https://github.com/kaylawilson535/EndOfExileVR">code</a>. <br><br> If none of that interests you, please check back later or return to the <a href="/">Home Page</h2></a>
    </div>

    
</body>
</html>