<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">


    <link rel="stylesheet" href="/css/endofexile.css">

    <title>End Of Exile</title>
</head>
<body>
    <div class="top-bar">
        <div class="back">
            <a href="/"><img class="back-icon" src="images/home.svg"></a>
        </div>

        <div class="header-text">
            <h1>End of Exile</h1>
        </div>
        
        <div class="socials">
            <a href="https://github.com/kaylawilson535"><img class="social" src="images/github-pink.svg"></a>
            <a href="https://www.linkedin.com/in/kayla-wilson-gimm/"><img class="social" src="images/linkedin-pink.svg"></a>
            <a href="mailto:KaylaWilson535@gmail.com"><img class="social" src="images/email-pink.svg"></a>
        </div>
    </div>

    <header>
        

    </header>

    
    <section class="summary">
        
            <div class="summary-wrapper">
                <div class = "h2-holder">
                    <h2>Summary</h2>
                </div>
                
                <p>
                    End of Exile is a game in which the player is competing to pardon themselves from a national exile. In order to compete, however, they must first gain sponsorship from townspeople through casual conversation. Players quickly realize that they can collect sponsors faster by simply agreeing and abiding by the town’s beliefs. It isn’t until the ending scene, however, during a phone call with the player’s parents, that their own identity shift is realized.<br><br>
                    The reason I created End of Exile was to shine a light on the micro-decisions that many people make daily about whether to conform to ideals of success and community or stand by their own truth and risk social exile. This metaphor was best portrayed in a medium that people were already comfortable with; gaming. The metaphor was also aided by the use of VR which can quite literally put the player inside someone else’s shoes.


                </p>
            </div>
        
        <div class= "video-wrapper">
            <iframe src="https://www.youtube.com/embed/mvpw5Lsjy2U?mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        
        
    </section>

    
    <section class="obstacles">
        <div class = "h2-holder">
            <h2>Obstacles</h2>
        </div>
        <div class="obstacles-content">

            <div class="info-wrapper">
                <div class="info-text">
                    <h3>New Tech</h3>
                    <p>
                        Due to how new VR technology is to the open-source community, I found it difficult to troubleshoot some of the issues that arose. Specifically, during OVR development I saw many small issues pop up that few people in the community had seen. To get past this, I had to rely on the Oculus documentation rather than just reading forums. In addition to just knowing where to look, I had to practice a lot of patience throughout the project.
                    </p>
                </div>
            </div>
            
    
            <div class="info-wrapper">
                <div class="info-text">
                    <h3>Broken Files</h3>
                    <p>
                        One of the most common recurring issues during dev, was broken files while transferring between engines (Maya, Substance, Unity). These files would either be incompatible or not formatted correctly. To solve this, I relied on my own documentation that I made any time I had a successful transfer since I knew I would be repeating that task later on. I also kept many backups and used source control which saved me a great deal after my computer crashed and corrupted my progress about halfway through the project. Luckily I had a day-old copy to jump off from.
                    </p>
                </div>
            </div>
    
            <div class="info-wrapper">
                <div class="info-text">
                    <h3>Slow Renders</h3>
                    <p>
                        Since VR often struggles to render as quickly as other gaming platforms, I found myself unable to play one of my scenes without it crashing. Since I knew the root issue was the amount of 3d objects rendering, I used a reflection probe to capture a 3d image of those objects, then rendered that image onto a cube map and deleted the 3d objects. This meant the engine no longer needed to render 3d objects for my background and only needed to render a 2d cube map, optimizing the game greatly.
                    </p>
                </div>
            </div>
        </div>
        

    </section>

    
    <section class="tech-stack">
        <div class = "h2-holder">
            <h2>Tech Stack</h2>
        </div>
        <div class="tech-stack-wrapper">
            <div class="inner-stack">
                <div class="stack">
                    <h3>
                        C#
                    </h3>
                    <p>
                        C# is the primary compiling language used in Unity. I was able to create classes that were based on OOP such as the state machine of the repel gun.
                    </p>
                </div>
                <div class="stack">
                    <h3>
                        Unity
                    </h3>
                    <p>
                        Unity game engine made the creation of the game much more efficient and quicker to pick up. Specifically, the OVR plugin that allowed Oculus SDKs to work with the code I was writing.
    
                    </p>
                </div>
            </div>
            <div class="inner-stack right-stack">
                <div class="stack">
                    <h3>
                        Maya
                    </h3>
                    <p>
                        Prior to starting the project I had no previous knowledge of 3D software. I was able to learn Maya and create from scratch multiple 3d models that were rigged, textured, and animated.

    
                    </p>
                </div>
                <div class="stack">
                    <h3>
                        Substance
                    </h3>
                    <p>
                        While I had textured some models in Photoshop, I quickly found that the material based rendering in Substance Painter far outweighed the familiarity I had with Photoshop.
                    </p>
                </div>
            </div>
            
            
        </div>
        
    </section>

    <div class='stack-icon-holder'>
        <img class="stack-icon" src="images/techstack.svg">
    </div>

    <footer>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    
</body>
</html>