<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">


    <link rel="stylesheet" href="/css/endofexile.css">

    <title>End Of Exile</title>
</head>
<body>
    <div class="top-bar">
        <div class="back">
            <a href="/"><img class="back-icon" src="images/home.svg"></a>
        </div>
        
        <div class="socials">
            <a href="https://github.com/kaylawilson535"><img class="social" src="images/github-pink.svg"></a>
            <a href="https://www.linkedin.com/in/kayla-wilson-gimm/"><img class="social" src="images/linkedin-pink.svg"></a>
            <a href="mailto:KaylaWilson535@gmail.com"><img class="social" src="images/email-pink.svg"></a>
        </div>
    </div>

    <header>
        <div class="banner-wrapper">
            <img class="banner-img" src="images/placeholder.jpg">
            <img class="banner-img" src="images/placeholder.jpg">
            <img class="banner-img" src="images/placeholder.jpg">
            <img class="banner-img" src="images/placeholder.jpg">
            <img class="banner-img" src="images/placeholder.jpg">

        </div>
        <div class="header-text">
            <h1>End of Exile</h1>
        </div>

    </header>

    
    <section class="summary">
        <h2>The Why:</h2>
        <div class="summary-wrapper">
            <h3>End of Exile's Broader Significance</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium et quibusdam doloribus voluptatem, fuga libero omnis soluta exercitationem corporis itaque?
            </p>
        </div>
    </section>

    
    <section class="obstacles">
        <h2>Obstacles</h2>
        <div class="info-wrapper">
            <div class="info-text">
                <h3>Learning</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium et quibusdam doloribus voluptatem, fuga libero omnis soluta exercitationem corporis itaque?
                </p>
            </div>
    
            <div class="info-img">
                <div>
                    <img src="images/placeholder.jpg">
                </div>
            </div>
        </div>
        

        <div class="info-wrapper">
            <div class="info-text">
                <h3>Patience</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium et quibusdam doloribus voluptatem, fuga libero omnis soluta exercitationem corporis itaque?
                </p>
            </div>
    
            <div class="info-img">
                <div>
                    <img src="images/placeholder.jpg">
                </div>
            </div>
        </div>

        <div class="info-wrapper">
            <div class="info-text">
                <h3>Optimization</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium et quibusdam doloribus voluptatem, fuga libero omnis soluta exercitationem corporis itaque?
                </p>
            </div>
    
            <div class="info-img">
                <div>
                    <img src="images/placeholder.jpg">
                </div>
            </div>
        </div>

    </section>

    
    <section class="tect-stack">
        <h2>Tech Stack: </h2>
        
    </section>

    <footer>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>
    
</body>
</html>