<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayla's Portfolio</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="project-header">
        <h1>I'm Kayla</h1>
        <h2>Web Designer</h2>
        <h2>Web Developer</h2>
    </header>
    <section class="game-preview">
        <div class="preview-wrapper">
            <h2>VR Game</h1>
            <div class="preview-content">
                <img class="preview-img" src="images/placeholder.jpg">
                <div class="preview-text">
                    <h3>About End of Exile</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eius harum dolore quas nesciunt facere ratione iste voluptas inventore maiores.</p>
                    <a href="#">Learn More ></a>
                </div>
            </div>
        </div>
    </section>
    <section class="game-preview">
        <h1>About End Of Exile</h1>
        <p>2</p>
    </section>
    <section class="game-preview">
        <h1>About InstructAR</h1>
        <p>2</p>
    </section>
    <section class="game-preview">
        <h1>About TP Frenzy</h1>
        <p>2</p>
    </section>
    <section class="game-preview">
        <h1>About 3d Models</h1>
        <p>2</p>
    </section>
    <section class="game-preview">

    </section>

</body>
</html>