<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <script src="https://kit.fontawesome.com/2789e9495d.js" crossorigin="anonymous"></script>

    <title>Kayla Wilson</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="sidebar">
        <div>
            <a class="side-link" href="#preview1">Virtual<br>Reality</a>
        </div>
        <hr>
        <div>
            <a class="side-link" href="#preview2">Augmented<br>Reality</a>
        </div>
        <hr>
        <div>
            <a class="side-link" href="#preview3">Mobile<br>App</a>
        </div>
        <hr>
        <div>
            <a class="side-link" href="#preview4">3D<br>Models</a>
        </div>
        <hr>
        <div>
            <a class="side-link" href="#preview5">UI/UX<br>Designs</a>
        </div>
    </div>
    <div id="wrapper">
        <div class="main">
            <header class="project-header">
                <h1>I'm Kayla</h1>
                <div class="socials">
                    <a href="https://github.com/kaylawilson535"><img class="social" src="images/github.svg"></a>
                    <a href="https://www.linkedin.com/in/kayla-wilson-gimm/"><img class="social" src="images/linkedin.svg"></a>
                    <a href="mailto:KaylaWilson535@gmail.com"><img class="social" src="images/email.svg"></a>

                </div>
                <h3>UX Designer</h3>
                <h3>Web Developer</h3>
                <i class="fas fa-arrow-down fa-3x scroll-arrow blinking"></i>
            </header>
            <section id="preview1" class="game-preview">
                <div class="preview-wrapper">
                    <h2>VR Game<img class="vr-icon" src="images/vr-glasses.svg"></h2>
                    <div class="preview-content">
                        <img class="preview-img" src="images/endofexile.PNG">
                        <div class="preview-text">
                            <h3>About End of Exile</h1>
                            <p>End Of Exile is a virtual reality game created in Unity in which you play from the perspective of an individual who must decide if their own truth is worth the pain of defeat and social isolation. 
                           </p>
                            <a  class="learn-more" href="/endofexile">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section  id="preview2" class="game-preview">
                <div class="preview-wrapper">
                    <h2>AR App<img class="ar-icon" src="images/camera.svg"></h2>
                    <div class="preview-content">
                        <img class="preview-img" src="images/placeholder.jpg">
                        <div class="preview-text">
                            <h3>About InstructAR</h1>
                            <p>InstructAR is an instructional AR app created to help children with autism better understand how to follow a set of ordered steps.                            </p>
                            <a class="learn-more" href="/instructar">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="preview3" class="game-preview">
                <div class="preview-wrapper">
                    <h2>Mobile<img class="phone-icon" src="images/smartphone.svg"></h2>
                    <div class="preview-content">
                        <img class="preview-img" src="images/tpfrenzy.PNG">
                        <div class="preview-text">
                            <h3>About TPFrenzy</h1>
                            <p>TPFrenzy was created at the beginning of the 2020 pandemic in hopes of allowing vendors to inform customers of when their toilet paper was back in stock.</p>
                            <a  class="learn-more" href="/tpfrenzy">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="preview4" class="game-preview">
                <div class="preview-wrapper">
                    <h2>Models<img class="modelling-icon" src="images/3d-model.svg"></h2>
                    <div class="preview-content">
                        <img class="preview-img" src="images/3dmodel.PNG">
                        <div class="preview-text">
                            <h3>My 3D Modelling</h1>
                            <p>Oftentimes, game or app ideas came first and learning tools came second. As a result I developed an ability to pick up new software or technology quickly as a means to an end. My 3d modelling is an example of this.</p>
                            <a  class="learn-more" href="/3dmodels">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="preview5" class="game-preview">
                <div class="preview-wrapper">
                    <h2>UX & UI<img class="design-icon" src="images/vector.svg"></h2>
                    <div class="preview-content">
                        <img class="preview-img" src="images/uiux.PNG">
                        <div class="preview-text">
                            <h3>My UX/UI Journey</h1>
                            <p>Through the creation of mobile apps, AR apps, VR games, and web apps, one thing was consistent through them all; user interaction.</p>
                            <a  class="learn-more" href="/uidesigns">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <footer id="home-footer push footer">
        <div class="contact-wrapper">
            <a href = "mailto:KaylaWilson535@gmail.com"><p class = "contact-info">Contact Information:</p></a>
            <a href = "mailto:KaylaWilson535@gmail.com"><p class = "contact-email">KaylaWilson535@gmail.com</p></a>
        </div>
        
        <div>
            All Icons from 
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>

<br>
            Artists include:  
            <a href="https://www.flaticon.com/authors/freepik" title="Freepik">freepik (LinkedIn, VR, 3d-model, UI), </a>
            
            <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect (GitHub), </a>

            <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar (email), </a>

            <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons (AR), </a>

            <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons (smartphone)</a>

        </div>

        <div>
            VR Image by <a href="https://pixabay.com/users/stocksnap-894430/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2562207">StockSnap</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2562207">Pixabay</a>
        </div>

    </footer>

    

</body>
</html>