<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <script src="https://kit.fontawesome.com/2789e9495d.js" crossorigin="anonymous"></script>

    <title>Kayla Wilson</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="sidebar">
        <div>
            <a href="#preview1">Virtual<br>Reality</a>
        </div>
        <hr>
        <div>
            <a href="#preview2">Augmented<br>Reality</a>
        </div>
        <hr>
        <div>
            <a href="#preview3">Mobile<br>App</a>
        </div>
        <hr>
        <div>
            <a href="#preview4">3D<br>Models</a>
        </div>
        <hr>
        <div>
            <a href="#preview5">UI/UX<br>Designs</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="main">
            <header class="project-header">
                <h1>I'm Kayla</h1>
                <div class="socials">
                    <a href="https://github.com/kaylawilson535"><img class="social" src="images/github.svg"></a>
                    <a href="https://www.linkedin.com/in/kayla-wilson-gimm/"><img class="social" src="images/linkedin.svg"></a>
                    <a href="#"><img class="social" src="images/email.svg"></a>
                </div>
                <h3>Web Designer</h3>
                <h3>Web Developer</h3>
                <i class="fas fa-arrow-down fa-3x scroll-arrow blinking"></i>
            </header>
            <section id="preview1" class="game-preview">
                <div class="preview-wrapper">
                    <h2><img class="vr-icon" src="images/vr-glasses.svg">Game</h1>
                    <div class="preview-content">
                        <img class="preview-img" src="images/endofexile.PNG">
                        <div class="preview-text">
                            <h3>About End of Exile</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id architecto in cumque quisquam dolore quod vitae repellat quibusdam adipisci ex?</p>
                            <a href="/endofexile">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section  id="preview2" class="game-preview">
                <div class="preview-wrapper">
                    <h2><img class="ar-icon" src="images/camera.svg">App</h1>
                    <div class="preview-content">
                        <img class="preview-img" src="images/InstructAR.PNG">
                        <div class="preview-text">
                            <h3>About InstructAR</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta ut quis, quia deleniti dolores.</p>
                            <a href="/instructar">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="preview3" class="game-preview">
                <div class="preview-wrapper">
                    <h2><img class="phone-icon" src="images/smartphone.svg">App</h1>
                    <div class="preview-content">
                        <img class="preview-img" src="images/tpfrenzy.PNG">
                        <div class="preview-text">
                            <h3>About TPFrenzy</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, neque quam voluptatum ab earum necessitatibus ipsam consectetur fuga.</p>
                            <a href="/tpfrenzy">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="preview4" class="game-preview">
                <div class="preview-wrapper">
                    <h2><img class="modelling-icon" src="images/3d-model.svg">Models</h1>
                    <div class="preview-content">
                        <img class="preview-img" src="images/3dmodel.PNG">
                        <div class="preview-text">
                            <h3>My 3D Modelling</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eius harum dolore quas nesciunt facere ratione iste voluptas inventore maiores.</p>
                            <a href="/3dmodels">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="preview5" class="game-preview">
                <div class="preview-wrapper">
                    <h2><img class="design-icon" src="images/vector.svg">Designs</h1>
                    <div class="preview-content">
                        <img class="preview-img" src="images/uiux.PNG">
                        <div class="preview-text">
                            <h3>My UI/UX Journey</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eius harum dolore quas nesciunt facere ratione iste voluptas inventore maiores.</p>
                            <a href="/uidesigns">Learn More ></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <footer>
        <div>Icons LinkedIn, VR, 3d-model, Design made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons GitHub made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons email made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons AR made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        <div>Icons smartphone made by <a href="https://www.flaticon.com/authors/prettycons" title="prettycons">prettycons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

        <div>
            Font awesome designed arrow
        </div>

    </footer>

    

</body>
</html>