<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">


    <link rel="stylesheet" href="/css/instructAR.css">

    <title>End Of Exile</title>
</head>

<body>
    <div class="top-bar">
        <div class="back">
            <a href="/"><img class="back-icon" src="images/home-navy.svg"></a>
        </div>

        <div class="header-text">
            <h1>InstructAR</h1>
        </div>

        <div class="socials">
            <a href="https://github.com/kaylawilson535" target="_blank" rel="noopener noreferrer"><img class="social"
                    src="images/github-navy.svg"></a>
            <a href="https://www.linkedin.com/in/kayla-wilson-gimm/" target="_blank" rel="noopener noreferrer"><img
                    class="social" src="images/linkedin-navy.svg"></a>
            <a href="mailto:KaylaWilson535@gmail.com" target="_blank" rel="noopener noreferrer"><img class="social"
                    src="images/email-navy.svg"></a>
        </div>
    </div>

    <header>


    </header>


    <section class="summary">

        <div class="summary-wrapper">
            <div class="h2-holder">
                <h2>Summary</h2>
            </div>

            <p>
                The InstructAR project had one main requirement: help children with autism better understand how to
                follow ordered steps. We attempted to accomplish this with our AR app in which a student used a mobile
                device to add context to a list of instructions that were written on paper. The added context came in
                the form of 3d animations and in our prototype, the instructions were washing your hands. <br><br>For
                example, as the student’s mobile device registered which instruction was being viewed, it overlayed an
                animation of that step. The hope was that after many repetitions with the cards and the app, the student
                may then take the cards home with them and attach them to a mirror and retain an understanding of what
                the ordered list represented.
            </p>
        </div>

        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/sPs_wtgzqPI?mute=1" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>



    </section>


    <section class="obstacles">
        <div class="h2-holder">
            <h2>Obstacles</h2>
        </div>
        <div class="obstacles-content">

            <div class="info-wrapper">
                <div class="info-text">
                    <h3>Acessibility</h3>
                    <p>
                        A large portion of this project was spent attempting to understand our client’s request. We
                        struggled to create a user persona since each child with autism could have a widely varying
                        level of access to our app. We solved this through extensive research and interviews with our
                        instructor who had a great deal of experience working with children with autism. In the end, we
                        designed for a child with access to sight and the amount of mobility required to hold the iPad
                        camera steady or who could be with a teaching aid that would hold the iPad camera steady.
                    </p>
                </div>
            </div>


            <div class="info-wrapper">
                <div class="info-text">
                    <h3>Platform</h3>
                    <p>
                        This project began in January 2020 with a deadline at the end of April 2020. We began learning
                        Swift and ARkit at the beginning of the project in order to use the Apple iPads available in the
                        classrooms we were delivering the product to. We began development in early March after a couple
                        of months of ideation. Then, quite suddenly, the pandemic and resulting quarantine caused us to
                        lose access to the "Apple lab" which we had been developing in. With only weeks left, we
                        rescoped and redesigned our entire project and then learned Vuforia as quickly as possible to
                        deliver the product through a non-Apple service.
                    </p>
                </div>
            </div>

            <div class="info-wrapper">
                <div class="info-text">
                    <h3>Ideation</h3>
                    <p>
                        With such a broad scope, our team struggled greatly in picking a good idea to move forward with.
                        Of course, much of this indecision came from a place of us wanting to deliver the best possible
                        product and being hesitant in declaring what exactly that product was. We leveraged this
                        humility and learned the importance of rapid prototyping and testing. While we weren't given
                        many constraints at the beginning, the more we tested, the more we were able to write off
                        certain ideas as unfeasible and thus limit our scope and make it easier to come to decisions.
                    </p>
                </div>
            </div>
        </div>


    </section>


    <section class="tech-stack">
        <div class="h2-holder">
            <h2>Tech Stack</h2>
        </div>
        <div class="tech-stack-wrapper">
            <div class="inner-stack">
                <div class="stack">
                    <h3>
                        Illustrator
                    </h3>
                    <p>
                        Throughout the project, we knew we would need some sort of image tracking. I found myself
                        leading the creation of trackable icons in Illustrator.
                    </p>
                </div>
                <div class="stack">
                    <h3>
                        Adobe XD
                    </h3>
                    <p>
                        Since a majority of our time in this project was spent iterating design ideas, a lot of the
                        project was done via Adobe XD prototypes which I also led.

                    </p>
                </div>
            </div>
            <div class="inner-stack right-stack">
                <div class="stack">
                    <h3>
                        Unity UI
                    </h3>
                    <p>
                        <a href="https://www.linkedin.com/in/spencernewbolt/">Spencer Newbolt</a> was our primary
                        developer dealing with AR and Vuforia which allowed me the time to create the app’s UI using the
                        Unity UI system.
                    </p>
                </div>
                <div class="stack">
                    <h3>
                        Swift
                    </h3>
                    <p>
                        While our final product did not use Swift, I was able to develop a basic knowledge of it through
                        our early planning phases and can now develop a basic app on iOS.
                    </p>
                </div>
            </div>


        </div>

    </section>


    <footer>
        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </footer>

</body>

</html>