<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">

    <script src="https://kit.fontawesome.com/2789e9495d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/uiux.css">

    <title>UI & UX</title>

</head>

<body>

    <div class="top-bar">
        <div class="back">
            <a href="/"><img class="back-icon" src="images/home-grey.svg"></a>
        </div>


        <div class="socials">
            <a href="https://github.com/kaylawilson535" target="_blank" rel="noopener noreferrer"><img class="social"
                    src="images/github-navy.svg"></a>
            <a href="https://www.linkedin.com/in/kayla-wilson-gimm/" target="_blank" rel="noopener noreferrer"><img
                    class="social" src="images/linkedin-navy.svg"></a>
            <a href="mailto:KaylaWilson535@gmail.com" target="_blank" rel="noopener noreferrer"><img class="social"
                    src="images/email-navy.svg"></a>
        </div>
    </div>

    <h1>UI & UX</h1>


    <div class='project-wrapper'>
        <div class="text-wrapper">
            <h2>
                Project 1 - GIMM Studio
            </h2>
            <p>
                GIMM Studio is an application that allows a group of faculty and students the opportunity to communicate
                and collaborate with one another inside of a virtual space. To accomplish the goals of this project, the
                team found it beneficial to have an accompanying website. The website’s functionality will include a
                place for uploading content into the app, a place to download the app, as well as a place for students
                to show off what they have done for users outside of the app.<br><br>
                As the leader of the website design, I held a meeting first to discuss the requirements of the design as
                well as to make some quick sketches to understand the team’s desired features of the website. At that
                point, I had enough of an outline of what features were wanted and had an idea of what the user flow
                should be. As a result, I was able to make a medium-fidelity wireframe which is shown in the first
                embedded Figma file.<br><br>
                After further meetings and changes, we moved forward with a high-fidelity prototype which is shown below
                in the second embedded Figma file. Since this project is still in progress, check back laterl for more
                updates on the design!

            </p>
        </div>
        <div class="iframe-wrapper">
            <div>
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FBaSYMzNy2Gx9NDSyvucpfw%2FGIMMStudio-Wireframe%3Fnode-id%3D0%253A1"
                    allowfullscreen></iframe>
            </div>
            <div>
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FX8coWpG1V4oUB7uBcwnlXn%2FGIMMStudio-Prototype%3Fnode-id%3D0%253A1"
                    allowfullscreen></iframe>
            </div>
        </div>

    </div>

    <div class='project-wrapper'>
        <div class="text-wrapper">
            <h2>
                Project 2 - InstructAR
            </h2>
            <p>
                The InstructAR project had one main requirement: help children with autism better understand how to
                follow ordered steps. This project proved very challenging since there were so many approaches worth
                considering. Something that narrowed our scope was the accessibility of the students who would be using
                the app. To better understand the requirements of these children and their teachers, we prioritized
                research and held conversations with our supervisor who had a great deal more experience working with
                children with autism than our group did.
                <br><br> For this project I lead the design of the wireframes and below are iterations 1-3 of the
                design. In iteration 1, we started with a low-fidelity wireframe knowing we wanted the primary function
                to be the completion of steps and hoped to incorporate a lego build into it. In iteration 2, after
                further discussion of our main user persona (teacher), we added elements for them to select a specific
                challenge. Finally, in iteration 3, designs were added to the wireframes to make a prototype with as
                much of the user flow as we could think of. Due to covid disrupting plans, our design was molded even
                further into our final design.
                <br><br> Note: these wireframes were exported into Figma from Adobe XD causing them to lose their
                interactivity. To see the interactivity, check out the corresponding links below each embedded Figma
                file to jump to an Adobe XD live preview.

            </p>
        </div>

        <div class="iframe-wrapper">
            <div>
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2F0uUBgb1ot17gENJELDlTf2%2FInstructAR-1%3Fnode-id%3D0%253A1"
                    allowfullscreen></iframe>
                <a href="https://xd.adobe.com/view/73490a6e-90d4-4cd8-8ef7-3f2a6440caa7-261a/">Adobe XD Live Preview
                    1</a>
            </div>
            <div>
                <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800"
                    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FIzqab0AREvNaQeoquDFawN%2FInstructAR-2%3Fnode-id%3D0%253A1"
                    allowfullscreen></iframe>
                <a href="https://xd.adobe.com/view/7b426397-d483-4258-92e4-ec82ef73ee5a-2e11/">Adobe XD Live Preview
                    2</a>
            </div>
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FpzTzDLDA9rtmAubVSwvJtu%2FInstructAR-Wireframe%3Fnode-id%3D0%253A1"
                allowfullscreen></iframe>
            <a href="https://xd.adobe.com/view/09dbf7ae-8459-4064-8422-73832b114657-5c88/">Adobe XD Live Preview 3</a>
        </div>
    </div>

    <div class='project-wrapper'>
        <div class="text-wrapper">
            <h2>
                Project 3 - Flash Cards
            </h2>
            <p>
                During the spring and summer of 2020, I had the opportunity to work on a project through the GIMM
                Development team in which our clients were a deaf literacy program from Georgia. Included below is the
                work I did for an interactive digital flashcard experience I made while on the project. I also had the
                opportunity to cover the project manager position while being a designer which allowed me to meet with
                clients, assess requirements, design wireframes, iterate designs based on their critiques, then program
                the design in Phaser; a JavaScript framework. <br><br>
                The primary challenge for this project was my personal lack of knowledge of deaf literacy. Prior to
                starting, I was unaware that there was a need for a different curriculum for students who had access to
                sound and those that didn’t as I had assumed only students without access to sound would partake in deaf
                literacy. Due to this lack of exposure, I unintentionally designed flashcards that did not accommodate
                all students. This created some confusion with the client until we were able to resolve our
                miscommunications through prototyping and listening to their critiques. This emphasized the importance
                for me of asking questions in the original requirements meeting and of creating early prototypes for the
                client to address any concerns prior to spending time inefficiently on production. <br><br>
                Below is some sketch work I made during a meeting with the client to bridge our understanding of what
                was wanted and what I understood was wanted.

            </p>
        </div>

        <div class="iframe-wrapper">
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FncHVRCsjQHSQAMimSz1ZbY%2FFlash-Cards%3Fnode-id%3D0%253A1"
                allowfullscreen></iframe>
        </div>
    </div>

</body>

</html>