<style>
    body{
        background-color:  #495464;
        color: #F4F4F2;;
    }
    h1{
        text-align: center;
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
        width: 80%;
        margin: 2rem auto;
    }
    .construction{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .construction img{
        width: 50%;
    }
    a{
        color: #F4F4F2;
    }
</style>

<h1>I'm Sorry.</h1>


<div class="construction">
    <img src="images/barrier.svg">
</div>

<h2> As of right now, the UI/UX page is undergoing some contruction. Please check back later or return to the <a href="/">Home Page</h2>
