@import 'shared/reset.css';
@import 'shared/3dmodels-variables.css';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

/*********** Main Tags ************/
body{
    font-family: 'Work Sans', sans-serif;
    background-color: var(--color-dark-bg); 
}
h1{
    font-size: 3rem;
    color: var(--color-box-text);
}
h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-box-text);}
.h2-holder{
    width: 300px;
    padding: 1rem;
    background-color: var(--color-box-fill);
    border-radius: 1rem;
    border: 3px solid var(--color-box-border);
    margin: 5rem auto 4rem;
}
h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-header-text);
        padding-bottom: 1rem;
}
p{
    color: var(--color-header-text);
    line-height: 1.5;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: var(--color-header-text);
}

/*********** Sticky Header ************/
div.top-bar{
    z-index: 100;
    height: 5rem;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color: var(--color-header-bg);
}
.header-text{
    width: 70%;/*adjust with media querys*/
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    transform: translateY(-2.5rem);
}
.header-text h1{
    text-align: center;
    font-weight: 700;
    color: var(--color-box-text);}
/** Sticky Header Icons **/
.socials{
    text-align: right;
    margin: 0rem auto;
    display: inline-block;
    position: absolute;
    right: 0;
}
.social{
    width: 3rem;
    margin: 1rem 2.5rem;
    border: 5px solid var(--color-header-bg);
}
.social:hover{
    border: 5px solid var(--color-xdark-background);
    border-radius:  100%;
}
.back{
    display: inline-block;
    text-align: left;
    width: 10%;
    margin: 0rem auto;
}
.back-icon{
    margin: 1rem 2.5rem;
    width: 3rem;
    border: 5px solid var(--color-header-bg);
}

/*********** Summary Section ************/
.summary{
    width: 70%;
    margin: 5rem auto;
    display: flex;
    justify-items: space-around;
}
.summary-wrapper{
    width: 95%;
    margin: 0rem auto;
}
.summary-wrapper .h2-holder{
    margin-top: 0rem;
}
/** Embeded Video **/
.images-wrapper{
    padding-top: 5rem;
    width: 90%;
    margin: 0rem auto;
    text-align: center;
}
.images-wrapper img{
    width: 45%;
    padding: 1rem;
}

/*********** Obstacle Section ************/
.tech-stack{
    padding-bottom: 5rem;
}
.obstacles{
    margin: 15rem auto 10rem;
}
.obstacles-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-basis: 1;
}
.info-text{
    width: 80%;
    margin: 0 auto;
}

/*********** Tech Stack Section ************/
.tech-stack{
    margin-top: 15rem;
}
.tech-stack-wrapper{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-items: space-between;
    padding: 0rem 1rem;
}
.inner-stack{
    display:flex;
    margin: 0 auto;
    justify-content: space-between;

}
.right-stack{
    padding-left: 3rem;
}
.stack{
    width: 45%;
}
.stack-icon{
    width: 15rem;
}
.stack-icon-holder{
    width: 80%;
    margin: 7rem auto;
    text-align: center;
}

/*********** Footer ************/
footer{
    letter-spacing: normal;
    padding: 1rem 0rem;
    position: absolute;
    color: var(--color-header-text);
    background-color: var(--color-box-text);
    width: 100%;
    font-size: .6rem;
    text-align: center;
}
footer a{
    color: var(--color-header-text);
    text-decoration: none;
}

/*******************************/
/********* width: 2090 *********/
/*******************************/
@media only screen and (max-width: 2140px){
    .images-wrapper img{
        width: 40%;
        padding: .75rem;
    }
}

/*******************************/
/********* width: 1800 *********/
/*******************************/
@media only screen and (max-width: 1800px){

}
/*******************************/
/********* width: 1700 *********/
/*******************************/
@media only screen and (max-width: 1700px){
    .images-wrapper{
        padding-top: 7rem;
    }
    .summary-wrapper{
        width: 90%;
    }
    /** Obstacle Section **/
    .obstacles-content{
        width: 90%;
    }
}
/*******************************/
/********* width: 1500 *********/
/*******************************/
@media only screen and (max-width: 1500px){
    /** Summary Section **/
    .summary{
        width: 70%;
        margin: 5rem auto;
        display: block;
    }
    div.summary-wrapper{
        padding-right: 0;
    }
    /** Obstacle Section **/
    .obstacles-content{
       display: block;
    }
    .info-wrapper{
        padding-top: 3rem;
    }
    /** Tech Stack Section **/
    .tech-stack-wrapper{
        display: block;
    }
    .stack{
        padding-top: 3rem;
    }
    .right-stack{
        padding-left: 0rem;
    }
    
}
/*******************************/
/********* width: 1300 *********/
/*******************************/
@media only screen and (max-width: 1300px){
    /** Sticky Header **/
    .social{
        width: 2rem;
        margin: 1rem 1.5rem;
    }
    .back{
        width: 10%;
    }
    .back-icon{
        width: 2rem;
        margin: 1rem 1.5rem;
    }
    .header-text{
        width: 80%;
        transform: translateY(-1.5rem);
    }
    /** Summary **/
    .summary{
        width: 90%;
    }
    
}
/*******************************/
/********* width: 1000 *********/
/*******************************/
@media only screen and (max-width: 1000px){
    .images-wrapper img{
        width: 80%;
        padding: 1rem;
    }
    /** Sticky Header **/
    .header-text{
        display: none;
    }
    /** Summary Section **/
    .summary-wrapper{
        width: 90%;
    }
    /** Obstacle Section **/
    .obstacles-content{
        width: 90%;
    }
    .info-text{
        width: 85%;
    }
}
/*******************************/
/********* width: 600 *********/
/*******************************/
@media only screen and (max-width: 600px){
    /** Tech Stack Section **/
    .inner-stack{
        display:block;
        width: 95%;
        margin: 0 auto;
    }
    .stack{
        width: 100%;
    }
}

/*******************************/
/*********** MOBILE ************/
/*******************************/
@media only screen and (max-width: 415px){
    /** Main Tags **/
    h2{
        font-size: 2rem;
    }
    div.h2-holder{
        margin: 3rem auto 0rem;
        width: 250px;
    }
    p{
        line-height: 1.2;
        font-size: 1.2rem;
    }

    /** Sticky Header **/
    div.top-bar{
        height: 3rem;
    }
    .social{
        width: 1.5rem;
        margin: .5rem 1.5rem;
    }
    .back{
        width: 10%;
    }
    .back-icon{
        margin: .5rem 1.5rem;
        width: 1.5rem;
    }
    /** Summary Section **/
    .summary{
        width: 100%;
        margin-top: 1rem;
    }
    .summary-wrapper .h2-holder{
        margin-bottom:  2rem;
    }
    /** Obstacle Section **/
    .obstacles-content{
        width: 100%;
    }
    .obstacles{
        margin: 5rem auto 0rem;
    }
    /** Tech Stack Section **/
    .tech-stack-wrapper{
        width: 90%;
    }
    .inner-stack{
        display:block;
        width: 95%;
        margin: 0 auto;
    }
    .stack{
        width: 100%;
    }
    .tech-stack{
        margin-top: 5rem;
    }
}
