@import 'shared/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&display=swap');
@import 'shared/eofe-variables.css';

/*
    --color-dark-bg: #790C5A;
    --color-box-fill: #F1D4D4;
    --color-box-border: #CC0E74;
    --color-header-bg: #E6739F80;

    --color-dark-text: #790C5A;
    --color-header-text: #F1D4D4;
    --color-box-text: #E6739F;
*/

body{
    font-family: 'Exo 2', sans-serif;
    background-color: var(--color-dark-bg); 
}
div.top-bar{
    z-index: 100;
    height: 10rem;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color: var(--color-header-bg);
}

.socials{
    text-align: right;
    margin: 0rem auto;
    display: inline-block;
    position: absolute;
    right: 0;
}
.social{
    width: 3rem;
    margin: 1rem 2.5rem;

    border: 5px solid var(--color-dark-background);
}
.back{
    display: inline-block;
    text-align: left;
    width: 10%;
    margin: 0rem auto;
}
.back-icon{
    margin: 1rem 2.5rem;
    width: 3rem;
    border: 5px solid var(--color-dark-background);
}
.social:hover{
    border: 5px solid var(--color-xdark-background);
    border-radius:  100%;
}

.header-text{
    width: 70%;/*adjust with media querys*/
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.header-text h1{
    text-align: center;
    font-weight: 700;
    color: var(--color-box-fill);
}

h1{
    font-size: 5rem;
}
h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-box-text);
}
.h2-holder{
    width: 300px;
    padding: 1rem;
    background-color: var(--color-box-fill);
    border-radius: 1rem;
    border: 3px solid var(--color-box-border);
    margin: 5rem auto 4rem;
}
h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-header-text);
    padding-bottom: 1rem;
}
p{
    color: var(--color-header-text);
    line-height: 2;
}

.summary{
    width: 70%;
    margin: 5rem auto;
    display: flex;
    justify-items: space-around;
}
.video-wrapper{
    width: 80%;
    padding: 2rem;
    background-color: var(--color-box-fill);
    border-radius: 2rem;
    border: 3px solid var(--color-box-border);
}
iframe{
    vertical-align: middle;
    width: 100%;
    height: 400px;
}

.summary-wrapper{
    width: 80%;
    margin: 0rem auto;
    padding-right: 5rem;
}
.summary-wrapper .h2-holder{
    margin-top: 0rem;
}
.summary-wrapper p{
    line-height: 1.5;
}
.obstacles{
    margin: 10rem auto 10rem;
}
.obstacles-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-basis: 1;
}
.info-text{
    width: 80%;
    margin: 0 auto;
}
.tech-stack-wrapper{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.stack{
    width: 20%;
}
footer{
    margin-top: 7rem;
    letter-spacing: normal;
    padding: 1rem 0rem;
    position: absolute;
    background-color: var(--color-box-text);
    width: 100%;
    font-size: .6rem;
    text-align: center;
}