:root{
    
    --color-dark-bg: #8b8b8b;
    --color-box-fill: #c7c7c7;
    --color-box-border: #464646;
    --color-header-bg: hsla(0, 0%, 83%, 0.502);

    --color-dark-text: #8b8b8b;
    --color-header-text: #ffffff;
    --color-box-text: #464646;
}
