:root{
    
    --color-dark-bg: #c5d7bd;
    --color-box-fill: #bfb051;
    --color-box-border: #383e56;
    --color-header-bg: #9fb8ad;

    --color-dark-text: #383e56;
    --color-header-text: #383e56;
    --color-box-text: #383e56;
}
