:root{
    /*Main Page*/
    --color-dark-background: #c5d7bd;
    --color-xdark-background: #9fb8ad;
    --color-profile-background: #bfb051;
    --color-button-background: #bfb051;
    --color-side-spacer: #383e56;


    


    --color-high-accent-text: #383e56;

    --color-medium-accent-text: #ffffff;

    --color-high-accent-text-faded: #f4f4f296;

    --screen-height: 100vh;

    --width-aspect-ratio-2-3: .666;
    --height-aspect-ratio-2-3: .333;

    --width-aspect-ratio-3-4: 1;
    --height-aspect-ratio-3-4: .75;

    --font-multiplier-1020: 1;
}